@page
@model HealthCheck.Web.Pages.AnswerModel
@{
    ViewData["Title"] = "Answer";
}

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Red</h4>
            </div>
            <div class="card-body">
                <p class="mt-3 mb-4">@Model.CategoryViewModel.Negative</p>
                <a data-send_to="@Model.AdminId" data-name="@Model.UserViewModel.Name" data-answer="bad" class="btn btn-lg btn-block btn-danger answer">Bad</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Amber</h4>
            </div>
            <div class="card-body">
                <a data-send_to="@Model.AdminId" data-name="@Model.UserViewModel.Name" data-answer="neutral" class="btn btn-lg btn-block btn-neutral answer">Neutral</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Green</h4>
            </div>
            <div class="card-body">
                <p class="mt-3 mb-4">@Model.CategoryViewModel.Positive</p>
                <a data-send_to="@Model.AdminId" data-name="@Model.UserViewModel.Name" data-answer="good" class="btn btn-lg btn-block btn-success answer">Good</a>
            </div>
        </div>
    </div>
</div>



