@page
@model HealthCheck.Web.Pages.Categories.ViewSessionCategoryModel
@{
    ViewData["Title"] = "ViewSessionCategory";
}

<div class="container">
    @if (Model.IsAuthorized)
    {
        <main role="main" class="container">
            <table class="table table-bordered m-3">
                <tbody>
                    <tr>
                        <td>Session Key</td>
                        <td>@Model.SessionViewModel.SessionKey</td>
                    </tr>
                    <tr>
                        <td>Category Name</td>
                        <td>@Model.CategoryViewModel.Name</td>
                    </tr>
                    <tr>
                        <td>Category Description</td>
                        <td>@Model.CategoryViewModel.Description</td>
                    </tr>
                </tbody>
            </table>
            <h4 class="h4">Answers</h4>
            <table id="answersList" class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Answer</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="row justify-content-center mt-5">
                <div class="col-3">
                    <form id="join-session-form" method="post">
                        <button id="close" data-sessionkey="@Model.SessionViewModel.SessionKey" data-sessionid="@Model.SessionViewModel._id.ToString()" class="btn btn-lg btn-primary btn-block">Close Category</button>
                    </form>
                </div>
            </div>
        </main>
    }
    else
    {
        <h1>You are not authorized to view this page</h1>
    }
</div>

@section Scripts
    {
<script type="text/javascript" src="~/js/viewsessioncategory.js"></script>
}
