@page
@model HealthCheck.Web.Pages.Categories.ViewSessionCategoryModel
@using HealthCheck.Model.Enums
@{
    ViewData["Title"] = "ViewSessionCategory";
}

    <div class="container">
        @if (Model.IsAuthorized)
        {
            <main role="main" class="container">
                <table class="table table-bordered m-3">
                    <tbody>
                        <tr>
                            <td>Session Key</td>
                            <td>@Model.Session.SessionKey</td>
                        </tr>
                        <tr>
                            <td>Category Name</td>
                            <td>@Model.Category.Name</td>
                        </tr>

                    </tbody>
                </table>
                <h4 class="h4">Answers</h4>
                <table id="answersList" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var answer in Model.Answers)
                        {
                            <tr>
                                <td class="user-email">@Model.Users.FirstOrDefault(u => u.UserId.Equals(answer.UserId)).Email</td>
                                <td class="user-answer">@answer.AnswerOptionId</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row justify-content-center mt-5">
                    <div class="col-3">
                        <form id="join-session-form" method="post">
                            <button id="close" data-sessionkey="@Model.Session.SessionKey" data-sessionid="@Model.Session.SessionId" class="btn btn-lg btn-primary btn-block">Close Category</button>
                        </form>
                    </div>
                </div>
            </main>
        }
        else
        {
            <h1>You are not authorized to view this page</h1>            
        }
    </div>

@section Scripts
    {
<script type="text/javascript" src="~/js/viewsessioncategory.js"></script>
}